header.page-header
    a(href="/"): h1.logo dummi
        small Data for your projects
    nav.header-nav
        ul
            //li: a(href="#" target="_blank") Tutorials
            //li: a(href="#" target="_blank") Feedback
            li: a(href="https://medium.com/dummi" target="_blank") Blog

