<main>
	<div class="stage">
		<div class="utility-bar">
			<div  class="feed-type" id="feedTypeTitle">JSON</div>
			<nav>
				<a href="javascript:newFeed()" id="newFeed">New Feed</a>
				<a target="blank_" href="https://github.com/DummiApp/dummi" id="helpLink">Help</a>
			</nav>
		</div>
		<pre class="slab">
			<code id="codeField"></code>
		</pre>
		<div class="path" id="implementField">
			<!-- <input type="text" id="path--field" value="Download as a JSON file" readonly> -->
			<!-- <a href="#" id="copyButton" onclick="copyLink()">Copy</a> -->
		</div>
	</div>
	<p class="blurb">
		<a target="blank_" href="https://twitter.com/dummiapp">@DummiApp</a> - created by <a target="blank_" href="https://twitter.com/aBenjamin765">@aBenjamin765</a> and <a target="blank_" href="https://twitter.com/seven11nash">@seven11nash</a>
	</p>	
</main>
