---
---
@charset "UTF-8";

$primaryColor:  #FF0078;
$darkColor: #CC005C;
$lightColor: #FF66AD;

/*-----------------
Tools
-----------------*/
@import 'tools/reset';
@import url(https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:400,300,700);

/*-----------------
Components
-----------------*/
@import 'components/buttons';
@import 'components/sidebar';
@import 'components/block';
@import 'components/stage';


/*-----------------
Global
-----------------*/

body{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	background: #f4f4f4;
	overflow-y: scroll;
}

#wrapper{
	max-width: 980px;
	margin: 0 auto;
	overflow: hidden;
}