#items
	background: #fafafa
	border-right: solid 1px #eee
	height: 100%
	width: 250px
	overflow-y: scroll
	.item
		display: none
		+ label
			font-size: 0.8rem
			font-weight: 500
			letter-spacing: 0.1em
			display: block
			background: 
				image: url('../img/icn_text.png')
				repeat: no-repeat
				position: right top
				size: 26px
				color: white
			border: solid 1px #eee
			border-radius: 3px
			padding: 7px 10px
			margin: 5px
			&:hover
				// border-left-color: $blue
				border-color: #ccc

		&.img
			+ label
				background-image: url('../img/icn_img.png')

		&:checked
			+ label
				background: 
					position: right bottom
					color: $blue
				border-color: $blue
				color: white
				&:before
					color: white



