<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div id="wrapper">
			{{ content }}
			<footer>
				<script src="/assets/js/jquery.min.js"></script>
				<script src="/assets/js/chance.min.js"></script>
				<script src="/assets/js/holder-ipsum.min.js"></script>
				<script src="/assets/js/dummi.js"></script>
			</footer>
		</div>
		<!-- Help Screen -->
		<div class="help">
			<a href="javascript:void(0)" id="closeLink">✕</a>
			<div class="help--box">
				{% capture README %}{% include README.md %}{% endcapture %}
				{{ README | markdownify }}
			</div>
		</div>
	</body>
</html>
