doctype html
html
    include ./includes/head.jade
    body

        //-  Wrapper
        #wrapper

            //- Header
            include ./includes/header.jade

            //- Side Bar
            include ./includes/side-bar.jade

            //- Stage
            include ./includes/stage.jade

        //- Footer
        include ./includes/footer.jade
